<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="efModelBuider" type="TA.PracticeService.EFConnectionStringHelper.EntityFrameworkModelBuilder, TA.PracticeService"/>
  </configSections>
  <connectionStrings>
    <add name="EmployeeContext" connectionString="data source=DESKTOP-P2MMSRG\MARKSMAN;initial catalog=EmployeeManagementSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="mainConnectionString" connectionString="data source=DESKTOP-P2MMSRG\MARKSMAN;initial catalog=ApartmentFinanceManagementDevDb;persist security info=True;user id=sa;password=leaveitnow;MultipleActiveResultSets=True;App=EntityFramework"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <efModelBuider>
    <modelConfiguration>
      <model name="EFConnectionStringHelper.Model.TestEntity" provider="System.Data.SqlClient"></model>  
    </modelConfiguration>
  </efModelBuider>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
